version: "3.7"

services:
    phoenix:
        build:
            context: .
            dockerfile: ./phoenix/Dockerfile
        depends_on:
            - database

    database:
        image: postgres:9.6
        environment:
            PGDATA: /var/lib/postgresql/data/pgdata
        restart: always
        volumes:
            - pgdata:/var/lib/postgresql/data

volumes:
    pgdata:
