<ul>
  <%= for post <- @posts do %>
    <li>
      <%= content_tag(:time, "#{post.inserted_at.day}.#{post.inserted_at.month}.#{post.inserted_at.year}", datetime: post.inserted_at) %>
      <h2>
        <%= link to: Routes.post_path(@conn, :show, post) do %>
          <%= post.title %>
        <% end %>
      </h2>
    </li>
  <% end %>
</ul>
